// USER VARIABLES SECTION

$accent: orange; // Accent Color
$fontsize: 14px; // Body Font Size
$textcolor: #333; // Text Color
$system: -apple-system, BlinkMacSystemFont, Arial, sans-serif; // System Font Family
$roboto: Roboto, sans-serif; // Roboto Font Family
$arsenal-reg: Arsenal-Rehular, sans-serif;
$back-color: #fbf5ee;

// Bootstrap compatible gutter variable => $gutter
$grid-gutter-width: 20px;
$gutter: $grid-gutter-width;

// IMPORT SECTION

@import "../../node_modules/bootstrap/scss/bootstrap-reboot.scss"; // Bootstrap Reboot collection
@import "../../node_modules/bootstrap/scss/mixins/_breakpoints.scss"; // Bootstrap Breakpoints mixin
// @import 'node_modules/bootstrap/scss/bootstrap-grid.scss'; // Optional Bootstrap Grid
// @import 'node_modules/bootstrap/scss/utilities/_sizing.scss'; // Optional Bootstrap Utilites

// FONTS LOAD SECTION

@mixin font($fname, $fstyle, $fweight, $furl) {
  @font-face {
    font-family: $fname;
    font-style: $fstyle;
    font-weight: $fweight;
    // font-display: swap; // Uncomment to initially display system fonts
    src: local($fname), url($furl) format("woff2");
  }
}

@include font(
  "Arsenal-Rehular",
  regular,
  400,
  "../fonts/Arsenal-Regular.woff2"
);

// GENERAL DOCUMENT STYLES

::placeholder {
  color: #666;
}

::selection {
  background-color: $back-color;
  color: #f9ccbf;
}

body {
  font-family: $arsenal-reg;
  font-size: $fontsize;
  display: block;
  height: 100%;
  width: 100%;
  line-height: 1.65;
  overflow-x: hidden;
  overflow-y: hidden;
  color: $textcolor;
  background-color: $back-color;
}
